/* 기본적인 스타일 생성 */
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFB6C1;
    height: 100px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.main-icon {
    width: 100px;
    height: 100px;
    margin: 3px;
}

.logo {
    width: 200px;
    height: auto;
    margin-left: 20px;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.menu a:hover {
    color: #F08080;
}

#category-buttons {
    display: flex;
    gap: 15px;
    margin: 20px 0; 
}

#category-buttons button {
    padding: 10px 20px;
    background-color: #98ff98;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#category-buttons button:hover {
    background-color: #45a049;
}

#map {
    width: 100%;
    height: 800px;
    float: right;
}

/* 저장한 장소 리스트 스타일 */
#place-list {
    float: left;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 20px;
}

#places-list {
    list-style: none;
    padding-left: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}